<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div id="maincategory" class="col-lg-20p col-md-3 col-sm-3" th:fragment="danhMucLeft">
    <div class="maincategory">
        <div class="divtitledm">
            <span>DANH MỤC SẢN PHẨM</span>
        </div>
        <div id="listcategory">
            <a th:each="danhMuc : ${danhMucListGlobal}" th:href="@{product(category=${danhMuc.id})}" class="category-item"><i class="fa fa-caret-right"></i> <span th:text="${danhMuc.name}"></span></a>
        </div>
    </div>
    <div class="spbanchayright">
        <div class="divtitledm">
            <span>SẢN PHẨM BÁN CHẠY</span>
        </div>
        <div id="listspbanchayright">
            <div class="singleproduct" th:each="sanPham : ${sanPhamBanChayGlobal}">
                <div class="zoom-img"><a th:href="@{detail(id=${sanPham.id})}" ><img class="imgproduct" th:src="${sanPham.imageBanner}"></a></div>
                <a class="proname" th:href="@{detail(id=${sanPham.id})}" th:text="${sanPham.name}"></a>
                <span class="pricepro" >Giá: <span>[[${#numbers.formatDecimal(sanPham.price, 0, 'COMMA', 0, 'POINT')}]].đ</span></span>
                <form sec:authorize="isAuthenticated()" action="add-cart" method="post">
                    <input type="hidden" name="id" th:value="${sanPham.id}">
                    <input type="hidden" name="soLuong" th:value="${1}">
                    <button class="btncartpro form-control"><i class="fa fa-shopping-bag"></i> Giỏ hàng</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>