<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div id="footer" style="background-image: url(image/footer.png);" th:fragment="footerUser">
    <footer class="text-center text-lg-start text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block"><span>Theo dõi chúng tôi tại:</span></div>
            <div>
                <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
            </div>
        </section>
        <section class="">
            <div class=" text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Fahasa.com</h6>
                        <p>
                            Chúng tôi cung cấp các loại sách
                        </p>
                        <p><i class="fas fa-home me-3"></i> Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">DỊCH VỤ</h6>
                        <p><a href="#!" class="text-reset">Điều khoản sử dụng</a></p>
                        <p><a href="#!" class="text-reset">Chính sách bảo mật thông tin cá nhân</a></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Giới thiệu</h6>
                        <p><a href="#!" class="text-reset">Về chúng tôi</a></p>
                        <p><a href="#!" class="text-reset">Dịch vụ uy tín</a></p>
                        <p><a href="#!" class="text-reset">Hướng dẫn mua hàng</a></p>
                        <p><a href="#!" class="text-reset">Liên hệ</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                        <p><i class="fas fa-envelope me-3"></i> Địa chỉ : Nguyễn Khiêm Ích, Trâu Quỳ, Gia Lâm, Hà Nội</p>
                        <p><i class="fas fa-phone me-3"></i> Hotline: 0981 996 880 và 0339 898 882</p>
                        <p><i class="fas fa-mail-bulk me-3"></i> hocviennongnghiep4.0@gmail.com</p>
                    </div>
                </div>
            </div>
        </section>

        <script th:inline="javascript">
            var message = /*[[${message}]]*/ 'default';
            if(message != null){
                toastr.success(message);
            }
            var error = /*[[${error}]]*/ 'default';
            if(error != null){
                toastr.error(error);
            }
            var warning = /*[[${warning}]]*/ 'default';
            if(warning != null){
                toastr.warning(warning);
            }
        </script>
</div>
</body>
</html>