<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Quên Mật Khẩu</title>
  <head th:replace="common/libuser :: libheader"></head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="contentmain">
  <div class="contentlogin" style="background-image: url(image/back.jpg);background-repeat: no-repeat;background-size: 100%;display: flex; ">
    <div class="loginform col-lg-7 col-md-7 col-sm-12 col-12">
      <p class="plogintl"><span class="dangtl">QUÊN </span><span class="kytl">MẬT KHẨU</span></p>
      <form class="inputloginform" method="post" action="/forgot">
        <input name="email" placeholder="Nhập email" class="inputform">
        <button type="button" class="btnhuylogin" onclick="window.location.href='login'">HỦY</button>
        <button type="submit" class="btntt">TIẾP TỤC</button>
        <p class="quenmk"><a href="index">
          ← Quay lại trang chủ – Caygiongnongnghiep
        </a></p>
      </form>
    </div>
  </div>
  <script th:inline="javascript">
    var success = /*[[${success}]]*/ 'default';
    if(success != null){
      swal({
        title: "Thông báo",
        text: "Kiểm tra email của bạn!",
        type: "success"
      }, function() {
        window.location.href = 'login'
      });
    }
  </script>
</div>
</body>
</html>