<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đăng Ký</title>
  <head th:replace="~{common/libuser :: libheader}"></head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="contentmain">
  <div class="contentlogin" style="background-image: url(image/back.jpg);background-repeat: no-repeat;background-size: 100%;display: flex; ">
      <div class="loginform col-lg-7 col-md-7 col-sm-12 col-12">
        <p class="plogintl"><span class="dangtl">ĐĂNG </span><span class="kytl">KÝ</span></p>
        <form class="inputloginform" method="post" action="/regis" th:object="${user}">
          <input name="fullName" placeholder="Họ tên" class="inputform">
          <input name="phone" placeholder="Số điện thoại" class="inputform">
          <input name="email" placeholder="Địa chỉ email" class="inputform" type="email" required>
          <input name="password" placeholder="Mật khẩu" class="inputform" type="password" required>
          <button class="btndn">Đăng Ký</button>
          <p class="quenmk"><a href="index">
            ← Quay lại trang chủ – SweeLee
          </a></p>
          <p class="nothvaccount"><span>Bạn đã có tài khoản? </span><a href="login" class="aquenmk">Đăng nhập ngay</a></p>
        </form>
      </div>
  </div>
</div>
<script th:inline="javascript">
  var error = /*[[${error}]]*/ 'default';
  if(error != null){
    toastr.error(error);
  }
</script>
</body>
</html>