<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm quy định</title>
    <head th:replace="common/libadmin :: libheaderadmin"></head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/quydinh.js"></script>
    <script>
        window.onload = function (){
            loadAQuyDinh();
        }
    </script>
</head>

<body class="sb-nav-fixed">
<div th:replace="common/navbarAdmin :: headerAdmin"></div>
<div id="layoutSidenav">
    <div th:replace="common/navbarAdmin :: sidenavAdmin"></div>
    <div id="layoutSidenav_content">
        <main class="main">
            <div class="title-add-admin">
                <p>Thêm/ cập nhật quy định</p>
            </div>
            <form class="row" action="javascript:saveQuyDinh()">
                <div class="col-sm-5">
                    <label class="lb-form">Tên quy định</label>
                    <input id="name" th:value="${quydinh.name}" class="form-control">
                    <label class="lb-form">Danh mục</label>
                    <select class="form-control" multiple id="listdanhmuc">
                        <option th:each="k : ${danhmuc}" th:value="${k.id}" th:text="${k.name}"></option>
                    </select>
                    <label class="lb-form">Khoa</label>
                    <select id="khoa" class="form-control">
                        <option th:each="k : ${khoa}" th:value="${k.id}" th:text="${k.name}"></option>
                    </select>
                    <label class="lb-form">Đính kèm file (nếu có)</label>
                    <input name="file" id="filedinhkem" type="file" class="form-control">
                    <label class="lb-form">Ảnh</label>
                    <input name="file" id="fileimage" type="file" class="form-control">
                    <img th:src="${quydinh.image}" id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <br>
                    <div id="loading">
                        <div class="bar1 bar"></div>
                    </div><br>
                    <button class="btn btn-primary form-control">Thêm/ cập nhật</button>
                </div>
                <div class="col-sm-7">
                    <label>Nội dung</label>
                    <textarea id="editor" name="content" th:text="${quydinh.content}"></textarea>
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/mcvdwnvee5gbrtksfafzj5cvgml51to5o3u7pfvnjhjtd2v1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    fileimage.onchange = evt => {
        const [file] = fileimage.files
        if (file) {
            imgpreview.src = URL.createObjectURL(file)
        }
    }
</script>
<script>
    const ser = $("#listdanhmuc");
    ser.select2({
        placeholder: "Chọn danh mục",
    });
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
</body>
</html>