<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tài Khoản</title>
    <head th:replace="common/libadmin :: libheaderadmin"></head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="sb-nav-fixed">
<div th:replace="common/navbarAdmin :: headerAdmin"></div>
<div id="layoutSidenav">
    <div th:replace="common/navbarAdmin :: sidenavAdmin"></div>
        <div id="layoutSidenav_content">
            <main class="main">
                <div class="col-sm-12 header-sp">
                    <form class="row">
                        <div class="col-md-3 col-sm-6 col-6">
                            <select name="role" id="role" class="form-control">
                                <option value="">Tất cả quyền</option>
                                <option value="ROLE_STUDENT" th:selected="${param.role != null and param.role[0] == 'ROLE_STUDENT'}">Tài khoản sinh viên</option>
                                <option value="ROLE_ADMIN" th:selected="${param.role != null and param.role[0] == 'ROLE_ADMIN'}">Tài khoản admin</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6">
                            <button class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6">
                            <a href="adduser" class="btn btn-primary form-control"><i class="fa fa-plus"></i> Thêm tài khoản</a>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12">
                    <div class="wrapper">
                        <table id="example" class="table table-striped tablefix">
                            <thead class="thead-tablefix">
                                <tr>
                                    <th>id</th>
                                    <th>Email</th>
                                    <th>Họ tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày tạo</th>
                                    <th>Quyền</th>
                                    <th class="sticky-col">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody id="listuser">
                                <tr th:each="u : ${taiKhoanList}">
                                    <td th:text="${u.id}"></td>
                                    <td th:text="${u.email}"></td>
                                    <td th:text="${u.fullName}"></td>
                                    <td th:text="${u.phone}"></td>
                                    <td th:text="${u.createdDate}"></td>
                                    <td th:text="${u.role}"></td>
                                    <td class="d-flex">
                                        <form method="post" action="lockOrUnlockUser">
                                            <input type="hidden" name="id" th:value="${u.id}">
                                            <button th:class="${u.actived == true?'btn btn-primary':'btn btn-danger'}"
                                            th:utext="${u.actived == true?'<i class=''fa fa-unlock''></i>':'<i class=''fa fa-lock''></i>'}"></button>
                                        </form>
                                        <a class="delete-btn" th:href="@{deleteuser(id=${u.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa tài khoản này?');"><i class="fa fa-trash" ></i></a>
                                        <a class="edit-btn" th:href="@{adduser(id=${u.id})}" ><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>


</body>
<script>
    $('#example').DataTable();
</script>
</html>